{% extends 'students/base.html' %}
{% load static %}

  <!-- ======= Sidebar ======= -->
  {% block nav %}
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link active collapsed" href="{% url 'students:home' %}">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'students:events' %}">
          <i class="bi bi-calendar-event"></i>
          <span>Events</span>
        </a>
      </li><!-- End Event Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'students:payment' %}">
          <i class="bi bi-credit-card"></i>
          <span>Payment</span>
        </a>
      </li><!-- End Payment Page Nav -->
      
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-badge-ad"></i><span>Advert</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="tables-nav" class="nav-content collapse show" data-bs-parent="#sidebar-nav">
          <li>
            <a href="#">
              <i class="bi bi-circle"></i><span>Recent Advert</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="bi bi-circle"></i><span>Add Advert</span>
            </a>
          </li>
        </ul>
      </li><!-- End Advert Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'students:issues' %}">
          <i class="bi bi-exclamation-octagon"></i>
          <span>Report Issues</span>
        </a>
      </li><!-- End Report Issue Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'students:profile' %}">
          <i class="bi bi-person"></i>
          <span>Profile</span>
        </a>
      </li><!-- End Profile Page Nav -->

      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="bi bi-check2-square"></i>
          <span>Election</span>
        </a>
      </li><!-- End Election page Nav -->

      <!-- <li class="nav-item">
        <a class="nav-link collapsed" href="pages-blank.html">
          <i class="bi bi-file-earmark"></i>
          <span>Blank</span>
        </a>
      </li> End Blank Page Nav -->

    </ul>

  </aside>
  {% endblock nav %}
  <!-- End Sidebar-->

  <!-- ======= Menu ======= -->
  {% block content %}
  <main id="main" class="main">
    <div class="container">

      <section class="section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center">
        <h1>404</h1>
        <h2>The page you are looking for is currently unavailable.</h2>
        <a class="btn" href="index.html">Back to home</a>
        <img src="{% static 'students/assets/img/not-found.svg' %}" class="img-fluid py-5" alt="Page Not Found">
      </section>

    </div>
  </main>
  {% endblock content %}
  <!-- End #main -->