{% extends 'students/base.html' %}
{% load static %}
  <!-- ======= Sidebar ======= -->
  {% block nav %}
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link active collapsed" href="{% url 'students:home' %}">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'students:events' %}">
          <i class="bi bi-calendar-event"></i>
          <span>Events</span>
        </a>
      </li><!-- End Event Page Nav -->

      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="bi bi-credit-card"></i>
          <span>Payment</span>
        </a>
      </li><!-- End Payment Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-badge-ad"></i><span>Advert</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="tables-nav" class="nav-content collapse show" data-bs-parent="#sidebar-nav">
          <li>
            <a href="#">
              <i class="bi bi-circle"></i><span>Recent Advert</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="bi bi-circle"></i><span>Add Advert</span>
            </a>
          </li>
        </ul>
      </li><!-- End Advert Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'students:issues' %}">
          <i class="bi bi-exclamation-octagon"></i>
          <span>Report Issues</span>
        </a>
      </li><!-- End Report Issue Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'students:profile' %}">
          <i class="bi bi-person"></i>
          <span>Profile</span>
        </a>
      </li><!-- End Profile Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'students:election' %}">
          <i class="bi bi-check2-square"></i>
          <span>Election</span>
        </a>
      </li><!-- End Election page Nav -->
    </ul>

  </aside>
  {% endblock nav %}
  <!-- End Sidebar-->

  {% block content %}
  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Payment</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Payment</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <!--  Rent duration   -->
      <div class="row">
        <div class="col">
          <div class="card info-card sales-card">

            <div class="card-body">
              <h4 class="card-title">Rent <span class="text-success fw-bold fs-5">Expires</span></h4>
              
              <div class="row">
                <div class="col ps-3">
                  <h6 id="rent-month" class="text-success"></h6>
                  <span class=" small pt-1 fw-bold">Month</span>
                </div>
                <div class="col ps-3">
                  <h6 id="rent-week" class="text-success"></h6>
                  <span class="small pt-1 fw-bold">Weeks</span>
                </div>
                <div class="col ps-3">
                  <h6 id="rent-days" class="text-success"></h6>
                  <span class="small pt-1 fw-bold">Days</span>
                </div>
                <div class="col ps-3">
                  <h6 id="rent-hour" class="text-success"></h6>
                  <span class="small pt-1 fw-bold">Hours</span>
                </div>
              </div>
              </div>
            </div>

          </div>
        </div>
      </div> <!--  End Rend duration  -->
    </section>
  </main>
  <script>
    // ======== Creating the rent duration count down timer ========

// Set the date we're counting down to
var countDownDate = new Date("April 30, 2024 23:00:00").getTime();

// Update the count down every 1 second
var x = setInterval(function() {

  // Get today's date and time
  var now = new Date().getTime();

  // Find the distance between now and the count down date
  var distance = countDownDate - now;

  // Time calculations for days, hours, minutes and seconds
  let months = Math.floor(distance / (1000 * 60 * 60 * 24 * 30));
  let weeks = Math.floor((distance % (1000 * 60 * 60 * 24 * 30)) / (1000 * 60 * 60 * 24 * 7));
  let days = Math.floor((distance % (1000 * 60 * 60 * 24 * 7)) / (1000 * 60 * 60 * 24));
  let hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));

  // Display the result in the element with idhours="demo"
  document.getElementById("rent-month").innerHTML = months ;
  document.getElementById("rent-week").innerHTML = weeks ;
  document.getElementById("rent-days").innerHTML = days;
  document.getElementById("rent-hour").innerHTML = hours;

  // If the count down is finished, write some text
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("demo").innerHTML = "EXPIRED";
  }
}, 1000);
// ======== End the rent duration count down timer ========
  </script>
  {% endblock content %} 
<!-- End #main -->