{% extends "mainapp/base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid hero">
    <div class="row container justify-content-center align-items-center">
        <div class="col col-lg-6 col-md-8 my-4">
            <div class="brd bg-white py-2">
                <form action="#" method="post">
                    <div class="align-content-center my-3 justify-content-center">
                        <h3 class="fonts">Register</h3>
                    </div>
                    <div class="row mx-2 pt-3">
                        <div class="col-md-6 form-floating mb-2">
                            <input type="text" class="form-control" id="firstName" placeholder="First Name" required>
                            <label for="firstName">First Name</label>
                        </div>
                        <div class="col-md-6 form-floating mb-2">
                            <input type="text" class="form-control" id="lastName" placeholder="Last Name" required>
                            <label for="lastName">Last Name</label>
                        </div>
                        <div class="col-md-6 form-floating mb-2">
                            <input type="number" class="form-control" id="phoneNo" placeholder="Phone No" required>
                            <label for="phoneNo">Phone No</label>
                        </div>
                        <div class="col-md-6 form-floating mb-2">
                            <input type="text" class="form-control" id="roomId" placeholder="Room Id" required>
                            <label for="roomId">Room Id</label>
                        </div>
                        <div class="col-12 form-floating mb-2">
                            <input type="email" class="form-control" id="email" placeholder="Email" required>
                            <label for="email">Email</label>
                        </div>
                        <div class="col-12 form-floating mb-2">
                            <input type="password" class="form-control" id="create-password" placeholder="Create Password" required>
                            <label for="create-password">Create Password</label>
                        </div>
                        <div class="col-12 form-floating mb-3">
                            <input type="password" class="form-control" id="con-password" placeholder="Confirm Password" required>
                            <label for="con-password">Create Password</label>
                        </div>
                        <div class="col-12 my-1 mt-2 p-1">
                            <button type="submit" class="btn btn-lg btn-primary mb-3">Register</button>
                        </div>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}