{% extends "mainapp/base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid hero">
    <div class="row container justify-content-center align-items-center">
        <div class="col col-lg-6 col-md-8 my-4">
            <div class="brd bg-white py-2">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-danger">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                <form method="post">
                    {% csrf_token %}
                    <div class="align-content-center my-3 justify-content-center">
                        <h3 class="fonts">Register</h3>
                    </div>
                    <div class="row mx-2 pt-3">
                        <div class="col-md-6 form-floating mb-2">
                            {{form.username}}
                            <label for="firstName">First Name</label>
                        </div>
                        <div class="col-md-6 form-floating mb-2">
                            {{form.last_name}}
                            <label for="lastName">Last Name</label>
                        </div>
                        <div class="col-md-6 form-floating mb-2">
                            {{form.phoneNo}}
                            <label for="phoneNo">Phone No</label>
                        </div>
                        <div class="col-md-6 form-floating mb-2">
                            {{form.roomId}}
                            <label for="roomId">Room Id</label>
                        </div>
                        <div class="col-12 form-floating mb-2">
                            {{form.email}}
                            <label for="email">Email</label>
                        </div>
                        <div class="col-12 form-floating mb-2">
                            {{form.password1}}
                            <label for="create-password">Create Password</label>
                        </div>
                        <div class="col-12 form-floating mb-3">
                            {{form.password2}}
                            <label for="con-password">Confirm Password</label>
                        </div>
                        <div class="col-12 my-1 mt-2 p-1">
                            <button type="submit" class="btn btn-lg btn-primary mb-3">Register</button>
                        </div>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}