/*----------------------------------------------
-------------- Main Style sheet ----------------
----------------------------------------------*/

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    box-sizing: border-box;
    /* background-color: #fffdd0; */
}

.hero {
    background-image: linear-gradient(rgba(0, 60, 100, 0.84), rgba(0, 60, 100, 0.84)), url(../assets/hfyv4.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    animation: heros 20s infinite ease-in-out;
}

.btn-pri {
    background-color: #BF4E03;
    color: white;
}

.btn-pri:hover {
    background-color: #ca611b;
    color: white;
}

.btn-sec {
    background-color: #0d6efd;
    color: white;
}

.btn-sec:hover {
    background-color: #0b57ca;
    color: white;
}

.sub-head {
    color: #BF4E03;
    font-weight: 600;
}

.gallery-bg {
    background-color: #E4E4E4;
}

/* .hf-bg {
    background-color: #fffdd0;
} */

.font-color {
    color: #BF4E03;
}

.activebtn {
    color: #BF4E03;

}

/*---------------- Testimonial Comment ---------------- */
.testi-comment {
    padding: 1.4rem 0;
    font-weight: 700;
    font-size: 1.5rem;
}

.testi-name {
    padding: 0.8rem 0;
    font-size: 1.5rem;
    font-weight: 400;
}


/*----------------------------------------------
----------- Main Footer Style sheet ------------
----------------------------------------------*/
.toltip {
    text-decoration: none;
}

.footer-bg {
    background-color: #333333;
    color: white;
}

.socialz {
    font-size: 23px;
}

.brn {
    width: 86px;
}

.lg-sz {
    width: 9rem;
}

/*------------ Hero Slide ----------- */
@keyframes heros {
    0% {
        background-image: linear-gradient(rgba(0, 60, 100, 0.84), rgba(0, 60, 100, 0.84)), url(../assets/hfyv1.jpg);
    }
   50% {
        background-image: linear-gradient(rgba(0, 60, 100, 0.84), rgba(0, 60, 100, 0.84)), url(../assets/hfyv3.jpg);
   } 
   100% {
        background-image: linear-gradient(rgba(0, 60, 100, 0.84), rgba(0, 60, 100, 0.84)), url(../assets/hfyv2.jpg);
   }
}

/*----------------------------------------------
----------- Register and Login Page ------------
----------------------------------------------*/

/*--------- Form ----------*/
.brd {
    border-radius: 1rem;
}

.fonts {
    font-weight: 700;
}

.form-floating>label {
    left: 0.5em;
}

.coll {
    color: #3333339d;
    font-size: 0.9em;
}

/*----------------------------------------------
-----------------About Page --------------------
----------------------------------------------*/
/* About */
.outer {
    min-height: 100vh;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.04em;
    padding-bottom: 40px;
    position: relative;
}
.border-1{
    width: 80%;
   
    margin: auto;
    
    padding: 40px;
    
}
.border-1>h3{
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 20px;
}
.border-1>ul,
.border-1>p {
    font-size: 16px;
    font-weight: 300;
    
}
.border-1>ul{
    display: block;
    list-style:disc;
    text-align: left;
    margin: auto;
}
@media (max-width: 675px) {
    .outer{
        letter-spacing: 0.02em;
    }
    .border-1{
        outline: none;
        padding: 10px;
    }
    .border-1>ul,
    .border-1>p{
        font-size: 10px;
    }
}

/* Section */
.font-color {
    color: #BF4E03;
}

.gallery-bg {
    background-color: #E4E4E4;
}

.hov:hover {
    background-color: #BF4E03;
    color: #E4E4E4;
}
.bord {
    border: 1px solid black;
}

.btn-pry {
    background-color: #0d6efd;
    color: white;

}
.btn-pry:hover {
    background-color: #0558d4;
    color: white;
}

.btn-pri {
    background-color: #BF4E03;
    color: white;
}

.btn-sec {
    background-color: #0d6efd;
    color: white;
}